.containeer{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.outter-containeer{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to left, #5ee7df 0%, #b490ca 100%);
}
 .header-element{
    width: 100%;
}

.users-infor{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
.identification-infor h2{
    margin-bottom: 30px;
}
.identification-infor{
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}
.invoice{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
} 
.invoice-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.monthly-bill-history{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.view-btn{
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.view-btn:hover{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);    
} 
.hello-btn{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 3%;
    padding-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    
}
.closing-btn{
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    letter-spacing: 1px;
}
.closing-btn:hover{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);    
} 